# Ignore all.
*

# Unignore all with extensions.
!*.*

# Unignore all dirs.
!*/

# Unignore all Makefiles.
!Makefile

# Ignore all object files and byte files.
*.o
*.class

# Ignore temporary files.
*.swp

# Ignore all PDFs (Markdowns are already included).
*.pdf

# Temporarily ignore the following.
packages/
.DS_Store

